
@{
    ViewBag.Title = "ViewLeave";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model  IEnumerable<EmployeeManagementSystem.Business.SharedModels.LeaveModel>
@using EmployeeManagementSystem.Business.Enums

<div class="row">
    <div class="col-lg-12">
        <div id="panel-4" class="panel">
            <div class="panel-hdr">
                <h2>
                    Leave <span class="fw-300"><i>Records</i></span>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <HeaderTemplate>
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-warning-200">
                                <tr>
                                    <th>LeaveCategory</th>
                                    <th>Action</th>
                                    <th>StartDate</th>
                                    <th>EndDate</th>
                                    <th>Reason</th>
                                    <th>ApplyOn</th>
                                    <th>Status</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                    </HeaderTemplate>
                    <ItemTemplate>
                        @foreach(var  item in Model)
                        {
                        <tr>
                            <td>
                                <a class="btn btn-danger btn-sm" href="/">
                                    
                                    <i class="fal fa-list"></i>Action
                                </a>
                            </td>
                            <td>@item.leaveType</td>
                            <td>@item.startDate</td>
                            <td>@item.endDate</td>
                            <td>@item.reason</td>
                            <td>@item.appliedon</td>
                            <td>@Enum.GetName(typeof(LeavestatusEnum), item.statusId)</td>
                            <td>@item.statusId</td>
                        </tr>
                        }
                        
                    </ItemTemplate>
                    <FooterTemplate>
                        </tbody>
                        </table>
                    </FooterTemplate>
                    </asp:Repeater>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>
