
@{
    ViewBag.Title = "ViewEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model  IEnumerable<EmployeeManagementSystem.Business.SharedModels.EmployeeModel>
<div class="row">
    <div class="col-lg-12">
        <div id="panel-4" class="panel">
            <div class="panel-hdr">
                <h2>
                    Employee <span class="fw-300"><i>Records</i></span>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <HeaderTemplate>
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-warning-200">
                                <tr>
                                    <th>Action</th>
                                    <th>EmployeeId</th>
                                    <th>EmployeeName</th>
                                    <th>Mail</th>
                                    <th>MobileNo</th>
                                    <th>Address</th>    
                                    <th>DateOfJoin</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>DateOfBirth</th>
                                    <th>Gender</th>
                                    <th>EmployeeImage</th>
                                    <th>CreatedOn</th>
                                    <th>CreatedOn</th>
                                </tr>
                            </thead>
                            <tbody>
                    </HeaderTemplate>
                    <ItemTemplate>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <a class="btn btn-danger btn-sm" href="/Admin/DeleteEmployee?id=@item.Id">

                                    <i class="fal fa-trash"></i>Delete
                                </a>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.EmployeeName</td>
                            <td>@item.Email</td>
                            <td>@item.CellPhone</td>
                            <td>@item.Address</td>
                            <td>@item.DateOfJoin.ToLongDateString()</td>
                            <td>@item.Department</td>
                            <td>@item.Devision</td>
                            <td>@item.DateOfBirth.ToLongDateString()</td>
                            <td>@item.Gender</td>
                            
                           
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        @if (item.EmployeeImage != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.EmployeeImage);
                                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                            <img src="@imgsrc" alt="" height="50" width="50" class="table-avatar" />
                                        }
                                        </li>
                                </ul>
                            </td>
                            <td>@item.CreatedOn</td>
                            <td>@item.CreatedOn</td>
                        </tr>
                        }
                    </ItemTemplate>
                    <FooterTemplate>
                        </tbody>
                        </table>
                    </FooterTemplate>

                </div>
            </div>
        </div>
    </div>
</div>